<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{/PreEpecris/{pe_id}(pe_id=${preEpecris.getPe_id()})}" th:object="${preEpecris}">
    <label for="name">Введите дату обследования </label>
    <input type="text" th:field="*{ost_opht_stat}" id="name"/>
    <br/>

    <label for="age">Введите время обследования </label>
    <input type="text" th:field="*{ost_basis_dis}" id="age"/>
    <br/>

    <label for="email">Введите жалобы: </label>
    <textarea type="text" rows="10" cols="100" th:field="*{ost_hard_dis}" id="email"/>
    <br/>

    <label> Введите Анемниз заболевания: </label>
    <input type="text" th:field="*{ost_addit_inf}"/>
    <br/>

    <label> Введите Анемниз жизни </label>
    <input type="text" th:field="*{ost_anam_dis}"/>
    <br/>

    <label> Введите Физиологическое исследование </label>
    <input type="text" th:field="*{blood_group}"/>
    <br/>

<!--    <label for="email">Введите дату поступления: </label>-->
<!--    <input type="text" th:field="*{admissionDate}" id="email"/>-->
<!--    <br/>-->

    <input type="submit" value="Update!"/>
</form>
</body>
</html>