<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{/patients/{id}(id=${patient.getId()})}" th:object="${patient}">
  <label for="name">Введите имя: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>

  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>

  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>

  <input type="submit" value="Update!"/>
</form>
</body>
</html>